---
import "../assets/css/main.css";

import { ViewTransitions } from "astro:transitions";

import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import SquareLines from "../components/square-lines.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <ViewTransitions />
  </head>
  <body class="antialiased bg-white dark:bg-neutral-950">
    <SquareLines />
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<script is:inline data-astro-rerun>
  if (typeof Storage !== "undefined") {
    if (
      localStorage.getItem("dark_mode") &&
      localStorage.getItem("dark_mode") == "true"
    ) {
      document.documentElement.classList.add("dark");
    }
  }
</script>

<script>
  import "../assets/js/main";
</script>

<script>
  import nprogress from "nprogress";

  document.addEventListener("astro:before-preparation", () => {
    nprogress.start();
  });

  document.addEventListener("astro:page-load", () => {
    nprogress.done();
  });
</script>
